<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
      <img
        src="https://scontent.fcta2-2.fna.fbcdn.net/v/t39.30808-6/227033849_6619109221447746_3747252292397422389_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=lPCVxBUaW1sAX_AxeSz&_nc_ht=scontent.fcta2-2.fna&oh=00_AfAIOtTXHb_LfYfrZl9VwESdMXsFdLHfURF3mvytVQ9I-A&oe=6582648B"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top me-4"
      />
      EHT MiniHack 2023
    </a>
  </div>
</nav>
